<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/bcea3aca40.js" crossorigin="anonymous"></script>
  <title>KS</title>
</head>
<body id="footer">
  <div class="row-lg main-space-around-lg page-max-width">
    <div class="description w-30-lg">
      <h2 class="row cross-center">
        <span class="ks-icon footer-icon"></span>
        Krishna Shop
      </h2>
      <p>Krishna Shop is an online shop built for all Gaudiya Tradition lovers who wish to buy any items required for everyday life, and for special events and festivals.</p>
    </div>
    <nav class="column w-30-lg">
      <h3>Categories</h3>
      <div class="column-lg row-sm wrap-sm">
        <a href="#" class="row">Clothes</a>
        <a href="#" class="row">Musical Instruments</a>
        <a href="#" class="row">Temple Items</a>
        <a href="#" class="row">Other Accessories</a>
      </div>
    </nav>
    <nav class="column w-30-lg">
      <h3>Pages</h3>
      <div class="column-lg row-sm wrap-sm">
        <a href="#" class="row">Home</a>
        <a href="#" class="row">Log in</a>
        <a href="#" class="row">Terms & Conditions</a>
        <a href="#" class="row">FAQ</a>
        <a href="#" class="row">Help</a>
      </div>
    </nav>
  </div>
  <div class="copyright">
    <div class="page-max-width">
      Copyright &copy; Krishna-Shop.com. All Rights Reserved. By Suyash Krishna Das.</div>
    </div>
</body>
</html>