@import 'index.scss';

.topbar {
  background-color: $tertiary-color;
  width: 100%;
  box-shadow: 0 0 10px #000;
  position: fixed;
  z-index: 2;

  nav {
    height: 50px;
  }
}

.header-icon {
  height: 30px;
  width: 30px;
  margin-left: 10px;
}

.fas:not(.fa-bars) {
  margin-right: 10px;
}

.page-max-width {
  max-width: 1000px;
  margin: 0 auto;
}

.search-header {
  background-color: $primary-color;
  height: 200px;
  position: relative;
  color: $white;
  padding-top: 50px;
  box-sizing: content-box;

  .search-icon {
    opacity: 0.5;
    width: 100px;
    margin: 5%;
  }
  
  .header-content {
    position: absolute;
    top: 50px;
  }

  form {
    padding: 0 4px;

    input,
    select {
      height: 40px;
      border-radius: 3px;
      border: 0;
    }
  }
}

.menu {
  width: 50px;
}

@media screen and (max-width: 768px) {
  .search-header {
    height: 300px;
  }

  .menus-container {
    &:hover {
      .other-menus {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 50px;
        left: 0;
        background-color: $white;
        z-index: 3;
        height: auto;
        box-shadow: 0 0 5px #000;
        
        a {
          padding: 10px;
        }
      }
    }

  }
}
